*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}


#main{
    height: 100%;
    width: 100%;
}

#header{
    height: 13%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

#fakeheader{
    height: 13%;
    width: 100%; 
}


#logo{
    height: 70%;
}

#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text{
    color: rgb(18, 5, 83);
    display: flex;
}


.text:hover{
    color: rgb(207, 31, 31);
}


#contactdetails{
    margin-left: 50px ;
    font-weight: lighter;
}

#contactdetails:hover{
    color: rgb(207, 84, 84);
}



.icon{
    padding: 10px;
    border-radius: 50%;
}

.icon:hover{
    background-color:rgb(212, 229, 235) ;
}



#login{
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(199, 227, 236);
    display: flex;
}


#try{
    background-color: green;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

#try:hover{
   background-color: rgb(5, 69, 5);
}


#page1{
    height: 87%;
    width: 100%;
    background-color: white;
    background-image: url(https://wp.sfdcdigital.com/en-in/wp-content/uploads/sites/21/2025/08/Frame-2-1-1.png?resize=2048,711);
}

#strip{
    width: 100%;
    height: 8%;
    background-color: rgb(4, 4, 72);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

#content{
    height:76% ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#box1{
    height: 90%;
    width: 47%;
}


#box1 h1{
    font-weight: 600;
    color: rgb(0, 0, 80);
    font-size: 50px;
    margin: 30px 10px;
}

#box1 p{
    font-size: x-large;
    margin:30px 10px;
    font-weight: lighter;
}


#button{
    display: flex;
    text-align: center;
}

#button1{
    width:23% ;
    padding: 10px 20px;
    color: white;
    background-color: rgb(23, 92, 196);
    margin: 10px;
    text-align: center;
    border-radius: 5px;
}

#button1:hover{
    background-color:rgb(3, 3, 85) ;
}

#button2{
    text-align: center;
    padding: 10px 20px;
    color:  rgb(44, 178, 223);
    border: 1px solid rgb(44, 178, 223);
    width:23% ;
    margin: 10px;
    color: rgb(89, 213, 255);
    border-color:  rgb(35, 143, 180);
    border-radius: 5px;
}


#button2:hover{
    background-color: rgb(76, 195, 239);
    color: rgb(3, 0, 90);
    border-color:rgb(3, 0, 90);
}

#heading{
    width: 100%;
    height: 16%;
    color:rgb(18, 18, 99) ;
    display: flex;
    align-items: center;
    justify-content: center;
}


#heading h2{
    font-weight: 600
}

#strip u{
    margin-left: 20px;
    font-weight: lighter;
}

#box2{
    background-color: white;
    height: 90%;
    width: 47%;
    border-radius: 15px;
}

#box2 iframe{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#page2{
    height: 87%;
    width: 100%;
    background-image: url(https://wp.sfdcdigital.com/en-in/wp-content/uploads/sites/21/2023/03/pb-hp-products-bg.png?resize=2048,625);
}

#card{
    display: flex;
    height: 80%;
    width: 100%;
    align-items: center;
    justify-content: center
}


.cards{
    height: 90%;
    width: 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}


#card h5{
    margin-top: 50px;
    margin-left: 30px;
    font-size: medium;
    font-weight: bold;
    z-index: 10;
    color: rgb(3, 3, 105);
}

#card1{
    margin-left: 120px;
    box-shadow: rgba(70, 65, 65, 0.2) 0px 2px 8px 0px;
}

#card1 h2{
   margin-top: 50px; 
   margin-bottom: 25px;
   margin-left: 30px;
   color: rgb(3, 3, 105);
}

#card1 p{
    margin-left: 30px;
    margin-right: 30px;
    font-size: large;
    font-weight: lighter;
}

#card1 h5{
    margin-top: 72px;
    color:  rgb(3, 3, 105);
}

#card1 img{
    height: 100;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}


#card2{
    margin-left: 35px;
    box-shadow: rgba(70, 65, 65, 0.2) 0px 2px 8px 0px;
}

#card2 h2{
    margin-top: 50px; 
    margin-bottom: 25px;
    margin-left: 30px;
    color:  rgb(3, 3, 105);
}


#card2 p{
    margin-left: 30px;
    margin-right: 30px;
    font-size: large;
    font-weight: lighter;
}


#card2 h5{
    margin-top: 72px;
    color:  rgb(3, 3, 105);
}

#card2 img{
    height: 100;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

#card3{
    margin-left: 30px;
    box-shadow: rgba(70, 65, 65, 0.2) 0px 2px 8px 0px;
}

#card3 h2{
    margin-top: 50px; 
    margin-bottom: 25px;
    margin-left: 30px;
    color:  rgb(3, 3, 105);
}


#card3 p{
    margin-left: 30px;
    margin-right: 30px;
    font-size: large;
    font-weight: lighter;
}

#card3 img{
    height: 100;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

#card4{
    margin-left: 30px;
    margin-right: 120px;
    box-shadow: rgba(70, 65, 65, 0.2) 0px 2px 8px 0px;
}

#card4 h2{
    margin-top: 50px; 
    margin-bottom: 25px;
    margin-left: 30px;
    color:  rgb(3, 3, 105);
}

#card4 p{
    margin-left: 30px;
    margin-right: 30px;
    font-size: large;
    font-weight: lighter;
}

#card4 img{
    height: 100;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}


#btns{
    background-color:white;
    margin-top: 50px;
    margin-left: 650px;
    margin-right: 650px;
    padding: 15px 20px;
    color:blue;
    border: 2px solid blue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btns:hover{
    background-color: rgb(0, 191, 255);
    border-radius: 2px solid black;
    color: black;
}


